<div class="row">
    <div class="col-lg-12">
    <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Register</strong>
            </div>
            <div class="panel-body">
              <form ng-submit="register()">
                <div class="form-group">
                  <label for="name">Full name</label>
                  <input type="text" class="form-control" id="name" placeholder="Enter your name" ng-model="credentials.name">
                </div>
                <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" placeholder="Enter email" ng-model="credentials.email">
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Password" ng-model="credentials.password">
                </div>
                <button type="submit" class="btn btn-default">Register!</button>
              </form>
            </div>
        </div>
    </div>
</div>