<!-- <div class="jumbotron text-center">
        <h1>Edit Page</h1>
</div> -->        
<div class="container">
    <h2> Edit Page </h2>
    <form class="" role="form" ng-submit="addNote()">
        Name : <input type='text' ng-model="publicationName"><br><br>
        Type : <input type='text' ng-model="publicationType"><br><br>
        Language : <input type='text' ng-model="publicationLanguage"><br><br>
        Commision For Adv : <input type='text' ng-model="commissionRateForAdvertisments"><br><br>
        Commision For Classifieds : <input type='text' ng-model="commisionRateForClassifieds"><br><br>
        <input type="submit" value="Add" name="submit">
    </form>
</div>

